<!-- Page with information about our store -->

<h4 class="map">Наш магазин на карте</h4>

<!-- Google map -->
<div id="map" ng-init="map()"></div>

<h3>Адрес магазина:</h3>
<p><b>г. Днепр ул. Наб. Победы 102д</b></p>

<h3>Об интернет-магазине</h3>

<p> ДОМ КНИГИ - один из крупнейших книжных Интернет-магазинов в Украине! Уютный мир книг и захватывающих развлечений.
    У нас вы найдет для себя то, что нужно именно вам! </p>

<p> Вам, дорогие наши книжные гурманы, мы предлагаем большой ассортимент книг различных жанров с разнообразием тематического
    наполнения по доступным ценам. У нас вы сможете подобрать впечатляющий, ценный подарок, открыв для себя мир эксклюзивных
    подарочных кожаных изданий. Именно в нашем магазине вы найдете захватывающие игры, как для детей, так и для взрослых,
    а также канцелярские товары высокого качества. Обращайтесь - мы всегда найдем, чем вас заинтересовать!  </p>

<p> Делать покупки в ДОМе КНИГИ удобно, приятно и комфортно: вы заходите в наш Интернет-магазин, или звоните
    по многоканальному телефону нашего call-центра (056) 565-56-56, выбираете товар, создаете заказ и мы
    доставляем его удобным для вас способом.  </p>

<p>Доставка заказов осуществляется по всей Украине и за ее пределы.</p>

<p>Для постоянных клиентов действует Дисконтная программа.</p>

<h3>Контакты</h3>

<p><b>Телефон для заказов:</b> (056) 565-56-56</p>
<p><b>Отдел кадров:</b> (056) 555-55-55</p>
<p><b>E-mail</b> : dom_knigi@gmail.com</p>

<h3>Режим работы</h3>

<p><b>Интернет-магазин работает круглосуточно</b></p>
<p><b>Прием заказов по телефону</b> - с 10-00 до 17-00 (Пн.-Пт.)</p>
<p><b>Оброботка заказов</b> - с 10-00 до 17-00 (Пн.-Пт.)</p>
<p><b>Доставка заказов</b> - с 16-00 до 22-00 (Пн.-Пт.)</p>