<!-- user login page -->

<!-- Authorization form -->
<div class="row" style="margin-top: 80px">    
    <div class="col-sm-6 col-sm-offset-3">        
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Введите Ваш id" ng-model="id">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="login(id)">Войти</button>
            </span>
        </div>
        <h4 class="error">Введен неверный id</h4>
    </div>    
</div>