<!-- Home Page with the catalog of books -->

<div class="container filter">
    <span>{{choice ? choice : 'Все жанры'}}</span>
    <ul class="nav navbar-nav navbar-right">
        <li>Сортировка</li>
        <li><button class="btn" ng-click="sort = 'title'">По названию</button></li>
        <li><button class="btn" ng-click="sort = 'author'">По автору</button></li>
        <li><button class="btn" ng-click="sort = 'year'">По году издания</button></li>
    </ul>
</div>

<!-- book list -->
<div class="col-sm-12 col-md-6" ng-repeat="book in books | filter:{genre:choice, $:search} | orderBy:sort">
    <span class="thumbnail row">
        <img ng-src="{{book.url}}" alt="book.title" class="col-sm-6">
        <div class="col-sm-6 info">
            <h4>"{{book.title}}"</h4>     
            <p><b>Автор: </b><span>{{book.author}}</span></p>
            <p><b>Жанр: </b><span>{{book.genre}}</span></p>
            <p><b>Год издания: </b><span>{{book.year}}</span></p>
            <p><b>Возрастное ограничение: </b><span>{{book.age}}+</span></p>
            <p><b>Кол-во страниц: </b><span>{{book.pages}}</span></p>        
            <div class="row">
                <div class="col-sm-6">
                    <p class="price">{{book.price}} &#8372</p>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-success right" ng-click="add(book)">КУПИТЬ</button>
                </div>
            </div>
        </div>
    </span>
</div>